<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <div class="row"></div>

      <div class="row justify-content-md-center">
        <div class="col-md-11">
          <% if(wiki.private) { %>
            <h4 style="display: inline-block; margin-right:10px">Collaborators for <%= wiki.title %> Wiki</h4>
            <a href="/wikis/<%= wiki.id %>" class="btn btn-success btn-sm">Back to Wiki</a>
            <hr>
            <% if(currentUser.role === "admin" || (currentUser.role === "premium" && wiki.userId === currentUser.id)) { %>

            <p> Current Collaborators</p>

            <% if(collaborators != "") { %>
              <table id="collabsTableRemove">
                  <thead>
                    <tr>
                      <th scope="col" style="width:40%">Username</th>
                      <th scope="col" style="width:40%">Email</th>
                      <th scope="col" style="width:20%" class="align-center">Remove Access</th>
                    </tr>
                  <thead>
                  <tbody>

                      <% collaborators.forEach((collaborator) => {  %>
                      <tr>
                        <td><%= collaborator.User.username %></td>
                        <td><%= collaborator.User.email %></td>
                        <td>
                          <form style="display:initial" action="/wikis/<%= wiki.id %>/collaborators/delete" method="post">
                            <button type="submit" class="btn btn-danger btn-sm" name="collaborator" value="<%= collaborator.User.id %>">Remove Collaborator</button>
                          </form>
                        </td>
                      </tr>
                      <% }) %>
                  </tbody>
                </table>
            <% } else { %>
            <small><p style="color:red;">No current collaborators. Add Collaborators from list below</p></small>
            <% } %>
            <hr>
            <p> Add a New Collaborator</p>
              <table id="collabsTable">
                <thead>
                  <tr>
                    <th scope="col" style="width:40%">Username</th>
                    <th scope="col" style="width:40%">Email</th>
                    <th scope="col" style="width:20%" class="align-center">Give Access</th>
                  </tr>
                <thead>
                <tbody>

<% var allUsers=(function(){const collabs=users.filter(user=>user.role=="standard");for(var i=0;i < collabs.length;i++){for(var x=0;x < collaborators.length;x++){if(collabs[i].id==collaborators[x].userId){collabs.splice(i,1)}}}
return(collabs)})() %>
                    <% allUsers.forEach((user) => {  %>
                    
                    <tr>
                      <td><%= user.username %></td>
                      <td><%= user.email %></td>
                      <td>
                        <form style="display:initial" action="/wikis/<%= wiki.id %>/collaborators/create" method="post">
                          <button type="submit" class="btn btn-success btn-sm" name="collaborator" value="<%= user.username %>">Add Collaborator</button>
                        </form>
                      </td>
                    </tr>

                    <% }) %>

                </tbody>
              </table>


              <% } %> <!-- role -->
              <% } %> <!-- wiki.private -->
            </div>
         </div>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>