<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>

  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <div class="row"></div>
       <div class="row justify-content-md-center">
         <div class="col-md-11">
           <a href="/wikis" class="btn btn-primary btn-sm">Back</a>
           <% if(currentUser && (currentUser.role === 'admin' || wiki.userId === currentUser.id)) { %>
             <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning btn-sm">Edit</a>
            <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
          <% }%>
         </div>
       </div>

       <div class="row justify-content-md-center">
        <div class="col-md-11">
          <h4><%= wiki.title %></h4>
          <!-- <small><p>Created on: <%= wiki.createdAt %> | Last Updated: <%= wiki.updatedAt %></p></small> -->
          <p><%- wiki.body %></p>
        </div>
      </div>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>